body{
    /*background: linear-gradient(#141e30, #243b55);
    */
    background: linear-gradient(#141e30, #0066a1);
    
}

header {
   color:white;
}

header img{
    height:50px;
}

.top{
    position:relative;
    margin: 24px;
    text-align: center;
    color:white;
}

.top h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}    

.top p {
    margin:auto;
    margin-top: 28px;
    width:50%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.form{
    position:relative; 
    top: 50%; 
    margin: auto;
    background: rgba(0,0,0,.5);
    width: 400px;  
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.form h1{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.element {
    position: relative;
}

.element input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;

}

.element label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;

}

.element input:focus ~ label,
.element input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.select {
    color: white;
    margin-bottom: 15px;
}
.select input {
    margin-bottom: 10px;
}

.select input:checked + label {
    color: #03e9f4;
}

.show {
    display: none;
}

.button {
    color: #03e9f4;
    background: transparent;
    padding: 10px 20px;
    border:none;
    border-radius: 0%;
    font-size: 16px;
    margin-top: 40px;
    letter-spacing: 3px;
    transition: 0.1s;
    color: white;
    border-radius: 7px;
    box-shadow: 3.5px 3.5px 5px #3a8b91;
}

.button:active {
    box-shadow: none;
    margin-top: 45px;
    margin-left: 5px;
}
@media (min-width: 1024px) {
    header img{
        height:90px;
    }
    .top h1 {
        font-size: 6rem;
        line-height: 1;
        
     }
    .top p {
        font-size: 20px;
    }
    .form{
        width: 600px;
    }
}

@media (max-width:450px) {
    .form {
        width: 350px;
        margin-left: 22px;
    }
    .element input {
        font-size: 13px;
    } 
    .element label {
        font-size: 13px;
    }
    .form h1 {
        font-size: 30px;
    }
    .select {
        font-size: 14px;
    }
    .button {
        margin-left: 50px;
    }
    .button:active {
        margin-left:55px;
    }
}
